:root {
  --ncba-success-color: #43AA8B;
  --ncba-failed-color: #DB504A;
}

max-width: 80%;
input[type="number"] {
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  /* font-weight: 200; */
  font-size:0.95rem;
}
h1, h2, h3, h4 { font-weight: 400; color:#2a3b4d;}
.sidebar{
  /* height:65%; */
  background-color: rgba(42, 59, 77, 0.2);
  padding: 0 10px 10px 10px;
  transition: opacity 500ms 1s;
}

.failed {
  font-weight: 700;
  color: var(--ncba-failed-color) !important;
}
.passed {
  font-weight: 700;
  color: var(--ncba-success-color) !important;
}
.panel {
  boder-color: #2a3b4d;

}
.tab-control-title {
  margin-top: 5px !important;
  padding-top: 0px !important;
}
.tab-control-group {
  padding-top: 5px;
}
.ol-nodots{
  list-style:none;
}

#controls {
  /* Appearance */
  /* Fade out while not hovering */
  cursor: move;
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.90;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.25;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
